@model RegisteringApp.Models.Client
@{
    ViewData["Title"] = "Delete";
}

<h3>Confirm you would like to delete @Model.FirstName @Model.LastName from our system</h3>

<form asp-action="Delete" method="Post">
    <input type="Hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>