@model RegisteringApp.Models.Client
@{
    ViewData["Title"] = "Create";
}

<h3>Add New Client</h3>

<form asp-action="Create" method="post">
    <div class="form-group"> @*//bootstrap styling choice*@
        <label for="FirstName">First Name</label>
        <input type="Text" class="form-control" asp-for="FirstName"/>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="Text" class="form-control" asp-for="LastName" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="Text" class="form-control" asp-for="Email" />
    </div>
    <button type="Submit" class="btn btn-primary">Submit</button> @*//bootstrap class for visual*@
</form>